body {
  background-color: #1e1e1e;
  color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
}


body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 2rem;
}

.search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#form {
  display: flex;
  gap: 0.5rem;
}

input[type="text"] {
  padding: 0.7rem 3rem;
  border-radius: 8px;
  border: none;
  font-size: 2rem;
  
}

button {
  padding: 0.5rem 1rem;
  background-color: #1b263b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem;
  justify-items: center;
}

.card {
  background-color: #2e3943;
  padding: 1rem;
  border-radius: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.avatar {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.card-body h3 {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: #fff;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.small-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card-footer a {
  color: #61dafb;
  text-decoration: none;
  font-size: 0.9rem;
}
